.clothesPictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.miscPictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.techPictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}
.shoesPictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}